@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans+Mono:wght@300&family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600&display=swap');

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 35vh;
    background: rgb(183,232,255);
    background: radial-gradient(circle, rgba(183,232,255,1) 0%, rgba(205,233,255,1) 50%, rgba(242,249,255,1) 100%);
    font-family: 'Poppins',sans-serif;
    border-radius: 8px;
    box-shadow: 2px 4px 10px 4px rgba(38, 38, 38, 0.31);
    -webkit-box-shadow: 2px 4px 10px 4px rgba(38, 38, 38, 0.31);
    -moz-box-shadow: 2px 4px 10px 4px rgba(38, 38, 38, 0.31);
    h2{
        font-size: 40px;
    }
    p{
        width: 600px;
        text-align: center;
        margin: 1rem;
    }
    a{
        background: #4288d8;
        color: #fff;
        padding: 12px 35px;
        text-decoration: none;
        margin-top: 25px;
        border-radius: 6px;
        text-transform: uppercase;
        box-shadow: 2px 4px 10px 4px rgba(38, 38, 38, 0.31);
        -webkit-box-shadow: 2px 4px 10px 4px rgba(38, 38, 38, 0.31);
        -moz-box-shadow: 2px 4px 10px 4px rgba(38, 38, 38, 0.31);
    }
}